#publikator {
	#accordion .panel-heading {
		background-color: #efefef;
		font-size: 1.2em;
		padding-top: 5px;
		padding-bottom:1px;
		padding-left: 10px;
		margin: 10px;
		margin-bottom: 0;
		cursor: pointer;
		border-radius: 5px 5px 0px 0px;
		color:#000;
		word-wrap: break-word;
	}

	#accordion .panel-heading .accordion-toggle {
		border-radius: 5px;
		padding-right: 5px;
	}

	#accordion .panel-heading .accordion-toggle.collapsed {
		padding-right: 5px;
	}

	#accordion a.accordion-toggle.collapsed h4.panel-title:before {
		content:"\25BE"; /* down arrow character */
		padding-right: 5px;
	}

	#accordion a.accordion-toggle h4.panel-title:before {
		content:"\25B8"; /* right arrow character */
		padding-right: 5px;	
	}
	#accordion a.accordion-toggle:link, a.accordion-toggle:hover, a.accordion-toggle:active {
		color: #000;
		text-decoration:none;
	}
	#accordion .accordion-body {
		background-color: #fff;
		border-radius: 0px 0px 5px 5px;
		border: 1px #efefef solid;
		padding: 10px;
		margin: 10px;
		margin-top: 0;
		margin-bottom: 0;
		border-top: none;
	}
	#accordion h4 {
		font-size: 1em;
	}
	#accordion .dl-horizontal dd {
		word-wrap: break-word ;
	}

	.btn-file {
		position: relative;
		overflow: hidden;
	}

	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}

	.seafileActionBox {
		float:right;
		border: 1px dotted;
		padding: 5px;
	/*	border-radius: 10px; */
	}

	@media (max-width: 979px) {
		.publish-gui .aui .btn {
			font-size: 15.5px;
		}
	}

	span.clickable {
	  cursor: pointer;
	}

	#jstree .jstree-clicked { background-color: #ddd; }
	#jstree .jstree-hovered { background-color: #f0f0f0; }

	.edit-box .edit-box-header{
		background-color: #efefef;
		font-size: 1.2em;
		padding: 5px;
		padding-left: 10px;
		margin-top: 10px;
		margin-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border-radius: 5px 5px 5px 5px;
		word-wrap: break-word;
	}

	.edit-box .edit-box-content {
		background-color: #fff;
		padding: 10px;
		padding-right: 20px;
		margin-top: 10px;
		border-top: none;
	}
	.dariah-collection-edit-container .formfields {
		position: sticky;
		top: 10px;
	}
}