@charset "utf-8";

#header {
  background-color: #003564;
}

.logo {
    width: 397px !important;
    height: 38px !important;
    background: url('jenkins-logo.png') no-repeat;
    background-position: 50px 4px;
    cursor: pointer;
}

#jenkins-name-icon {
  display: none;
}

/* DISABLED DEVELOPER PORTAL LOGO
#side-panel:before{
  width: 190px;
  content: " ";
  background-image: url("https://res.de.dariah.eu/logos/developer-portal/dp-tool.svg");
  background-size: 100% 100%;
  position: absolute;
  left: 15px;
  top: -6px;
  height: 96px;
  display: block;
  margin-top: 83px;
}

#side-panel {
  padding-top: 112px;
}
*/

