</main>
</div>
<footer class="footer">
<div class="wrap">
    <div class="footer_left">
        <div>
            <p>
                <a href="https://de.dariah.eu/impressum">Imprint</a>
                <a href="https://de.dariah.eu/privacy-policy">Privacy Policy</a>
                <a href="https://de.dariah.eu/kontakt">Contact</a>
            </p>
        </div>
        <div>
            <p>
                <a href="https://de.dariah.eu">
                    DARIAH-DE<br>
                    <small>Digital Research Infrastructure for the Arts and Humanities</small>
                </a>
            </p>
        </div>
    </div>
</div>
</footer>
<noscript>
<div>This page requires JavaScript, please enable it!</div>
</noscript>
</body>

</html>
