#publikator {
  /**
 * DARIAH-DE Website
 * 
 * This is the application specific stylesheet. It works in conjunction with
 * customized bootstap 2.2.2 css files.
 * 
 * @project   DARIAH-DE Website
 * @author    Patrick Heck (patrick@patrickheck.de)
 * @see       http://twitter.github.com/bootstrap/index.html
 */
  /**
	 * Fonts
	 * @section   Fonts
	 * @see       http://www.exljbris.com/museo.html
	 */
  /**
	 * Layout 
	 * @section layout
	 */
  /**
	 * main content wrapper
	 *
	 * this is the big container, that holds all of the actual content
	 */
  /**
	 * content wrapper
	 *
	 * use this when you don't want a navigation panel to the left
	 */
  /* TGR: Changed this to prevent the buttons from being colored badly */
  /**
	 * Top Menu Bar
	 */
  /* .navbar-dariah .nav > li > a.brand {
		padding-left:0;
	} */
  /** 
	 * Primary Navigation
	 */
  /** 
	 * General Layout
	 */
  /**
	 * Carousel
	 */
  /** 
	 * Breadcrumbs
	 */
  /**
	 * Typography 
	 * @section typography
	 */
  /* Unset some properties from the new DARIAH Style which conflict with bootstrap */
}
@font-face {
  font-family: 'MuseoSansRounded500';
  src: url('../fonts/museosansrounded_500_macroman/MuseoSansRounded-500-webfont.woff') format('woff'), url('../fonts/museosansrounded_500_macroman/MuseoSansRounded-500-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
#publikator .chromeframe {
  background: yellow;
  color: black;
}
#publikator body {
  background: transparent url("../img/paper-pattern1-0.jpg") 50% 0 repeat;
}
#publikator .span9.no-margin {
  margin-left: 0;
  width: 756px;
}
#publikator .lt-ie9 .span9.no-margin {
  width: 754px;
}
#publikator .span9.offset3.no-margin {
  margin-left: 252px;
}
#publikator .main-content-wrapper {
  margin-left: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 5px;
  /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* Menus should be shown even when not in white area */
  /*overflow: hidden;*/
  position: relative;
  z-index: 2;
}
#publikator .content-wrapper {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 5px;
  /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* Menus should be shown even when not in white area */
  /*overflow: hidden;*/
  position: relative;
  z-index: 2;
}
#publikator .lt-ie9 .main-content-wrapper {
  border: 1px solid #ddd;
}
#publikator .primary-area p a *:not(.btn) * {
  color: #ab95fe;
}
#publikator .primary-area .btn a {
  color: #000000;
}
#publikator .sidebar-area,
#publikator .primary-area {
  /** Bad for tables positioned in this primary-area */
  /*display: table-cell;*/
  vertical-align: top;
  padding: 31px;
}
#publikator .sidebar-area {
  width: 199px;
  border-left: 1px solid #ddd;
  background: #f3f3f3;
}
#publikator .columns-wrapper {
  display: table;
  width: 100%;
}
#publikator .navbar-dariah {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#publikator .navbar-dariah .nav > li > a {
  /* padding-left: 30px;
		padding-right: 0; */
}
#publikator .navbar-dariah .nav.closer > li > a {
  padding-left: 0;
}
#publikator .navbar .nav {
  /*margin-top: 16px;
		margin-bottom: 10px;*/
}
#publikator .nav-list.nav-primary-dariah {
  padding-left: 0;
  padding-right: 0;
}
#publikator .nav-list.nav-primary-dariah > li.active {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px 0 0 5px;
  /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
  border-radius: 5px 0 0 5px;
  /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#publikator .lt-ie9 .nav-list.nav-primary-dariah > li.active {
  border: 1px solid #ddd;
  border-right: 0;
}
#publikator .nav-list.nav-primary-dariah > li {
  margin-left: -30px;
  padding-top: 25px;
  padding-bottom: 25px;
}
#publikator .nav-list.nav-primary-dariah > li li a {
  padding-left: 45px;
  font-size: 15px;
}
#publikator .nav-list.nav-primary-dariah > li li a:hover {
  background: #ccc;
  color: #000;
}
#publikator .nav-list.nav-primary-dariah > li > a {
  display: inline;
  background: none;
  color: inherit;
  font-family: "MuseoSansRounded500";
  font-weight: normal;
  font-size: 18px;
  padding-left: 30px;
  margin-left: 0;
}
#publikator .nav-list.nav-primary-dariah > li > a:hover {
  background: none;
  color: inherit;
}
#publikator .searchbar-dariah {
  margin-top: 20px;
}
#publikator .btn-transparent {
  background: none;
}
#publikator .searchbox-dariah {
  background: #fff;
}
#publikator .logo-dariah {
  display: block;
  margin-left: -33px;
  margin-top: -40px;
  margin-bottom: 25px;
  width: 220px;
  height: 103px;
}
#publikator .footer {
  padding: 1em 1em 0 1em;
  font-size: 85%;
}
#publikator .carousel {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
#publikator .carousel-caption {
  color: #333;
  padding: 23px 31px;
}
#publikator .carousel-caption h4 {
  color: inherit;
  font-size: 18px;
  line-height: 1.39em;
  font-weight: normal;
}
#publikator .carousel-caption a {
  color: #7A7395;
}
#publikator .breadcrumb {
  background: none;
  padding: 0;
  font-size: 13px;
}
#publikator .breadcrumb .active {
  font-weight: bold;
}
#publikator .breadcrumb > li > .divider {
  color: #999;
}
#publikator .header-box {
  background: #ddd;
  padding: 7px 10px;
  font-size: 12px;
  margin-bottom: 1em;
}
#publikator .media-body .meta {
  font-size: 12px;
}
#publikator figure {
  margin: 1em 0;
}
#publikator figcaption {
  font-size: 12px;
}
@media (max-width: 767px) {
  #publikator body {
    background: #fff;
    padding: 0;
  }
  #publikator .footer {
    padding: 1em 10px 0 ;
  }
  #publikator .wrapper,
  #publikator .container.main,
  #publikator .primary-area,
  #publikator .sidebar-area {
    display: block;
    width: auto;
    -webkit-box-shadow: none;
    /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: none;
    /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  }
  #publikator .sidebar-area,
  #publikator .primary-area {
    padding: 10px;
  }
  #publikator #heroCarousel,
  #publikator .header-small-nav {
    display: none;
  }
  #publikator .site-logo {
    padding: 40px 0 20px;
  }
  #publikator .span9.offset3.no-margin,
  #publikator .span9.no-margin {
    margin-left: 0;
    width: auto;
  }
  #publikator .nav-list.nav-primary-dariah > li {
    margin-left: 0;
  }
  #publikator .navbar-dariah {
    margin: 0;
  }
  #publikator .main-content-wrapper {
    border-radius: 0;
    -webkit-border-radius: 0;
  }
  #publikator .nav-list.nav-primary-dariah > li li.active a {
    color: #fff;
  }
  #publikator .nav-list.nav-primary-dariah > li.active {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  #publikator .nav-list.nav-primary-dariah > li {
    padding: 15px 0 0 0;
  }
  #publikator .navbar .nav > li > a.brand {
    margin: 0;
    padding-left: 0;
  }
  #publikator .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  #publikator .navbar-inverse .brand,
  #publikator .navbar-inverse .nav > li > a.brand {
    color: #fff;
  }
  #publikator .navbar .btn-navbar {
    margin-right: 0;
  }
}
@media print {
  #publikator {
    /*
	* Don't show links for images, or javascript/internal links
	*/
    /* h1, h2, h3, h4, h5, h6 {
			font-family: "SancoaleSoftenedRegularRg", sans-serif;
		} */
    /*
	* Hide Elements that are not needed in Print. Like menus and decoration
	*/
  }
  #publikator * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  #publikator a,
  #publikator a:visited {
    text-decoration: underline;
  }
  #publikator a[href]:after {
    content: " (" attr(href) ")";
  }
  #publikator abbr[title]:after {
    content: " (" attr(title) ")";
  }
  #publikator .ir a:after,
  #publikator a[href^="javascript:"]:after,
  #publikator a[href^="#"]:after {
    content: "";
  }
  #publikator pre,
  #publikator blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  #publikator thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  #publikator tr,
  #publikator img {
    page-break-inside: avoid;
  }
  #publikator img {
    max-width: 100% !important;
    display: initial;
  }
  @page {
    margin: 0.5cm;
  }
  #publikator p,
  #publikator h2,
  #publikator h3 {
    orphans: 3;
    widows: 3;
  }
  #publikator h2,
  #publikator h3 {
    page-break-after: avoid;
  }
  #publikator .main-content-wrapper,
  #publikator .primary-area,
  #publikator .sidebar-area,
  #publikator .row,
  #publikator .container {
    display: block;
    width: auto;
    -webkit-box-shadow: none;
    /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: none;
    /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
    /* padding: 2em 0; */
    margin: 0;
  }
  #publikator .span9.offset3.no-margin,
  #publikator .span9.no-margin {
    margin-left: 0;
    width: auto;
  }
  #publikator .site-logo a:after {
    content: "";
  }
  #publikator .site-logo {
    padding: 1em 0;
    margin: 0;
  }
  #publikator .container.header {
    border-color: #000;
  }
  #publikator .lang-nav,
  #publikator .header-small-nav,
  #publikator .header-main-nav,
  #publikator .copy-and-nav .nav,
  #publikator .btn i,
  #publikator .container.hero,
  #publikator .footer,
  #publikator .breadcrumb,
  #publikator .push,
  #publikator .navigation-wrapper,
  #publikator .navbar-static-top,
  #publikator .searchbar-dariah,
  #publikator .breadcrumb {
    display: none;
  }
}
#publikator .progress {
  background: #f5f5f5;
  border: 0px solid #f5f5f5;
  border-radius: 4px;
  height: 20px;
}
#publikator .bar {
  background: #505ec7;
}
#publikator .progress-striped .bar {
  background-color: #505ec7;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
#publikator address,
#publikator blockquote,
#publikator dl,
#publikator figure,
#publikator form,
#publikator h1,
#publikator h2,
#publikator h3,
#publikator h4,
#publikator h5,
#publikator h6,
#publikator ol,
#publikator p,
#publikator pre,
#publikator table,
#publikator ul {
  max-width: none;
  letter-spacing: unset;
  margin: unset;
  text-transform: unset;
}
#publikator [type="button"],
#publikator [type="submit"],
#publikator button {
  letter-spacing: auto;
  text-transform: unset;
  min-height: auto;
  min-width: auto;
}
#publikator dd + dt {
  margin-top: auto;
}
#publikator ul > li:before {
  background: none;
}
#publikator label:not(.sr-only) {
  background: none;
}
#publikator label:not(.sr-only),
#publikator legend {
  color: unset;
}
#publikator [type="checkbox"],
#publikator [type="radio"] {
  opacity: 1;
  z-index: 0;
}
#publikator a:hover {
  color: inherit;
  text-decoration: unset;
}
