#publikator .jstree-default a {
  white-space: normal !important;
  height: auto;
}
#publikator .jstree-anchor {
  height: auto !important;
  width: 100%;
  word-wrap: break-word;
  border: 0px !important;
}
#publikator .jstree-default li > ins {
  vertical-align: top;
}
#publikator .jstree-leaf {
  height: auto;
}
#publikator .jstree-leaf a {
  height: auto !important;
}
