/* im-fell-french-canon-sc-regular - latin */
@font-face {
  font-family: 'IM Fell French Canon SC';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL French Canon SC'), local('IM_FELL_French_Canon_SC'),
       url('im-fell-french-canon-sc-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('im-fell-french-canon-sc-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

