@font-face { font-family: museo; src: url(../fonts/museosansrounded_700_macroman/MuseoSansRounded-700-webfont.woff); }
body { font-family: arial, sans-serif; }
.body-substitute { width: 100%; height: 100%; background: transparent url("../img/paper-pattern1-0.jpg") repeat scroll 50% 0; font-family: arial, sans-serif; font-size: 14px; line-height: 20px; margin: 0; }
h1 { text-align: center; color: #999999; margin-top: -10px; font-family: museo, sans-serif; text-transform: uppercase;}
h1:after { content: ""; width: 180px; height: 2px; background-color: #504462; margin: 5px 0 40px 199px; display: block; }
p { color: #504462; }
a.link::before { content: url(../img/arrow.png); height: 10px; width: 10px; display: block; margin: -2px 0 0 -15px; float: left; }
hr { border-top: 1px solid  #7a7188; margin: 0px 0 5px 0; opacity: 0.5; }
input{ margin: -3px 0 10px 0; border-radius: 4px; border: 1px solid #7a7188; width: 93%; }
label { color: #504462; font-family: museo, sans-serif; font-size: 15px; }
ul li { list-style: none; }
a { color: #504462; }
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { margin: 2px 0 20px 0; background-color: #f9f8f9; }
button { font-family: museo, sans-serif; }
#content_layout { position: absolute; top: 25px; left: 50%; margin-left: -320px; max-width: 1024px; }
.btn { font-size: 14px; background-color: #504462; background-image: none; color: white; box-shadow: none; text-shadow: none; width: 180px; margin: 5px 0; border-radius: 4px; }
.btn:active { box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2) inset; }
.main-content-wrapper { border-radius: 4px; }
.central_logo { background-image: url(../img/AAI_footer.svg); text-align: center; height: 78px; width: 300px; background-size: 300px 78px; display: inline-block; margin: 20px 170px 10px; }
.central_logo_de { background-image: url(../img/logo_footer_de.png); text-align: center; height: 56px; width: 126px; display: inline-block; margin: 20px 40% 10px; }
.central_logo_eu { background-image: url(../img/logo_footer_eu.jpg); text-align: center; height: 60px; width: 126px; display: inline-block; margin: 20px 40% 10px; }
.dfooter { display: block; float: left; margin: 20px 0 20px; }
.dfooter p { color: #7a7188; opacity: 0.7; }
.alert-error { background-color: #e69679; color: #fff; border-radius: 4px; text-align: center; font-size: 24px; font-family: museo, sans-serif;}
.alert-warn { background-color: #fcf8e3; color: #af8759; border-radius: 4px; text-align: center; font-size: 24px; font-family: museo, sans-serif;}
.alert { padding: 8px 14px;}
.text_small { font-size: 13px; line-height: 17px }
.link_list { margin: 77px 0 0 78px; }
.span_top { margin-top: 97px;}
.span_right { margin: 0 0 20px 61px; }
.span_left { margin-left: 31px;}
.span_top_2, .span_top_3 { margin-top: 40px;}

@media (max-width: 768px) {
	#content_layout { margin-left: -155px; width: 310px; }
	body { background: transparent url("../img/paper-pattern1-0.jpg") repeat scroll 50% 0 !important; }
	h1 { margin-top: 10px; }
	h1:after { width: 90px; margin: 5px 0 40px 80px; }
	.central_logo { height: 60px; width: 232px; background-size: 232px 60px; display: inline-block; margin: 30px 39px 10px; }
	.span3 { margin-left: 3px; }
	.btn { margin-left: 32px; }
	.sidebar-area, .primary-area { padding: 30px; }
	.link_list { margin: 40px 0 0 20px; }
	.span_bottom { margin-bottom: 30px; }
	.span_right { margin: 0px; }
	.span_top { margin-top: 0px;}
	.span_left { margin-left: 0px;}
	.span_top_2 { margin-top: 0px;}
	.span_top_3 { margin-top: 20px;}
}






